@{
    ViewBag.Title = "About Foodie";
}

@section featured{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<div style="width:50%;margin:0 auto;">
    <img style="height:300px;width:300px;border-radius:50%;margin:0 auto;display:block;" src="~/Images/10515283_873498216013571_1631345411423251082_o.jpg" alt="Ernesto Soltero" />
    <h3>Ernesto Soltero</h3>
    <p>
        Ernesto is originally from the city of angels, Los Angeles. He is a 4th year computer science major and loves to cook so he loved making 
        this website. Some of his hobbies include hiking, biking, watching foriegn films, and hagning out with his friends. He is fluent in Spanish
        and also speaks some Mandarin. 
    </p>

    <img src="" alt="Dahyun" />
    <h3>Dahyun</h3>
    <p>
        Short description of Dahyun
    </p>

    <img src="" alt="Ben" />
    <h3>Ben</h3>
    <p>
        Short description of Ben
    </p>
</div>