@{
    ViewBag.Title = "About Foodie";
}

@section featured{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<article>
    <img src="" alt="Ernesto Soltero" />
    <h3>Ernesto Soltero</h3>
    <p>
        Short description of Ernesto 
    </p>

    <img src="" alt="Dahyun" />
    <h3>Dahyun</h3>
    <p>
        Short description of Dahyun
    </p>

    <img src="" alt="Ben" />
    <h3>Ben</h3>
    <p>
        Ben is a 3rd year Computer Science student at RIT.
    </p>
</article>