@{
    ViewBag.Title = "Welcome to Foodie";
    string search_query = Request.Form["search-query"];
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<div>
    <h2 style="text-align: center;">Welcome to Foodie the site for food connoisseur's.</h2>

    <form method="get" class="search-engine" style="text-align: center;margin-top: 2em;">
        <input type="text" style="margin-right: 1em;" name="search-query" />
        <input type="submit" value="Submit" />
    </form>
</div>
