@{
    ViewBag.Title = "Welcome to Foodie";
    string search_query = Request.Form["search-query"];
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center;">Welcome to Foodie the site for food connoisseur's.</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 center-block" >
             @using (Html.BeginForm("Search", "Home", FormMethod.Get))
             {
                 <input type="search" name="query" placeholder="Search" />
                 <input type="submit" value="Search" />
             }
            <br /><br /><br />
        </div>
    </div>
    

    <div class="food-home">
        <div class="inner-food">
            <img class="img-responsive" style="width:25%;height:200px;" src="~/Images/food1.jpg" />
            <div class="vertical-line"></div>
            <img class="img-responsive" style="width:25%;height:200px;" src="~/Images/food2.jpg" />
            <div class="vertical-line"></div>
            <img class="img-responsive" style="width:25%;height:200px;" src="~/Images/food3.jpg" />   
        </div>     
    </div>
</div>
