
@{
    ViewBag.Title = "No results where found!";
}

<h1>No results found!</h1>
<section>
    <h3>Please refine your search criteria and try searching again.</h3>
    <div class="search-engine">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <input type="search" name="query" placeholder="Search" />
            <input type="submit" value="Search" />
        }
    </div>

</section>

