@if (Session["Username"] != null) {
    <ul>
        <li>@Html.ActionLink((string)Session["Username"], "Profile", "Account", routeValues: null, htmlAttributes: new { id = "profileLink" })</li>
        <li>@Html.ActionLink("Log Off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
    </ul>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
