@if (Session["Username"] != null) {
    <text>
        <!--Hello, @Html.ActionLink((string)Session["Username"], "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })-->
        <a>@Html.ActionLink("Log Off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })</a>
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
