
@{
    ViewBag.Title = "Successful Registration";
}

<section>

    <h1>You have successfully registered for an account on Foodie.</h1><br/>
    <p>Click @Html.ActionLink("Login", "Login") to go to the login page and use your newly registered account!</p><br />
    <p>Or click @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "reg-home" }) to go back to the home page.</p>

</section>

